.header
  a(href="/").main
    img(src="/img/cardaworlds-text.png")

  ul
    li
      a(href="/") Home
    li
      a(href="/explorer") Explorer
    li
      a(href="/about") FAQ
    li
      a(href="/products") Roadmap