extends layout

block content
  .spacer

  .section
    .section__text
      h3 CardaWorld Explorer
      p This explorer lets you see the CardaWorld assets in your wallet. Just enter a wallet address below to see the assets associated with it, or enter the name of the asset to see the associated wallet.

      #form
        p#notfound

        input#search.vr(
          type="text",
          placeholder="Enter a wallet address or a CardaWorld Name (e.g.CardaWorld455)"
        )
        button#searchButton(onclick="searchAddress()") Search

        #dapps.dapps

      #assets.assets.vr
        #loader(style="display:none") Loading...

  script(src="/javascripts/explorer.js")
