extends layout

block content
  .spacer

  .section
    .section__text
      h3 What makes a CardaWorld unique?
      p Each CardaWorld has been procedurally generated with a different seed. The algorithm produces a unique world with different landmasses, distribution of vegetation and presence of rarities.

    .section__text
      h3 How can I view my CardaWorld?
      p You can use our explorer to view the CardaWorlds in your wallet. Simply enter a wallet address in the search bar and all of your CardaWorlds wll be displayed. You can click on each of them to view them on a 3D viewer. Inside the 3D viewer you can also click on the name of the CNFT to view the map image on IPFS
      p You can also view the CardaWorld inside your wallet if you use a compatible wallet, such as Nami Wallet. Other conventional tools, like pool.pm can also be used.

    .section__text
      h3 How can I share my CardaWorld with others?
      p You can search for your CardaWorld using the CardaWorlds explorer and share the IPFS link or you can share the pool.pm link

    .section__text
      h3 What is next?
      p Our main mission is to give everyone the chance to own and collect their own fantasy worlds, imagine stories in that world, and have fun!
