@use "sass:math";

.vr {
  margin-top: $base-sizing;
}

.hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  canvas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -500;
  }
}

.stars {
  position: absolute;
  top: 0;
  z-index: -1000;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    width: 100%;
    max-width: min($base-sizing*25, 100%);
    display: flex;
    flex-direction: column;
    padding: $base-sizing $base-sizing*2;
    color: rgba(255 255 255 / 87%);
  }
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: none;
  padding: $base-sizing $base-sizing*4;
  margin: 30px;
  flex: 1;
  
  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    text-transform: uppercase;
    transition: all $transition-time ease-in-out;  
    backdrop-filter: blur(15px);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background: 
        linear-gradient(to left, rgba(255, 255, 255, .15), transparent);
      transform: skewX(40deg) translateX(0);
      transition: all $transition-time ease-out;
    }
  }

  &:hover {
    a {
      letter-spacing: 3px;

      &::before {
        transform: skewX(40deg) translateX(200%);
      }
    }

    &::before,
    &::after{  
      height: 50%;
      width: 80%;
      border-radius: 30px;
    }

    &::before {
      bottom: 0;
    }
    
    &::after {
      top: 0;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 10px;
    border-radius: 10px;
    background: #f00;
    transition: all $transition-time ease-in-out;
  }

  &::before {  
    bottom: -5px;
  }

  &::after {
    top: -5px;
  }

  &:nth-child(1)::before,
  &:nth-child(1)::after {
    background: #ffdb24;
    box-shadow: 
      0 0 5px #ffdb24,
      0 0 15px #ffdb24,
      0 0 30px #ffdb24,
      0 0 60px #ffdb24
  }

  &:nth-child(2)::before,
  &:nth-child(2)::after {
    background: #fbff4a;
    box-shadow: 
      0 0 5px #fbff4a,
      0 0 15px #fbff4a,
      0 0 30px #fbff4a,
      0 0 60px #fbff4a
  }
}

.scrolled {
  .header {
    box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
  }
}

.header, .footer {
  background: rgba(255, 255, 255, .05);
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(15px);
  width: 100%;
}

.spacer, .header {
  height: $base-sizing*3;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 $base-sizing*2;
  transition: $transition-time;
  justify-content: space-between;
  z-index: 2000;
  gap: $base-sizing;

  .toggle, .toggleLabel {
    display: none;
  }

  .main {
    height: $base-sizing*2;
    z-index: 2000;
    display: flex;
    align-items: center;
    
    img {
      height: auto;
      max-height: 100%;
      width: 100%;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 50%;
    padding: 0;
    gap: $base-sizing;

    li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::after {
        display: block;
        content: "";
        width: 0;
        height: 4px;
        background: white;
        position: absolute;
        transition: $transition-time;
        left: 50%;
        bottom: 0;
      }

      &:hover::after {
        left: 0;
        width: 100%;
      }

      a {
        color: white;
        text-transform: uppercase;
        font-size: .9em;
        letter-spacing: 0.1em;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  padding: $base-sizing $base-sizing*2;
  justify-content: center;
  gap: $base-sizing*2;

  &__col {
    flex: 1;
    text-align: center;

    .policy {
      word-break: break-all;
    }
  }

  .bigtext {
    height: min-content;
    transition: $transition-time;

    &:hover {
      text-shadow: 3px 4px 0px $red;
    }
  }
}

input, button {
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: math.div($base-sizing, 2) auto;
  padding: math.div($base-sizing, 2) $base-sizing;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: $border-radius;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
  color: white;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  background: $lightpurple;
  color: white;
  transition: 0.5s;
}

button:hover {
  background: darken($lightpurple, 15%);
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
  gap: math.div($base-sizing, 2);
  transition: height $transition-time!important;

  a {
    color: white;
    font-size: 1.5em;
    display: flex;
    width: $base-sizing*1.5625;
    height: $base-sizing*1.5625;
    align-items: center;
    justify-content: center;
    background-color: $lightpurple;
    border-radius: 100%;
    transition: $transition-time;

    svg {
      width: math.div($base-sizing, 1.2);
      max-height: math.div($base-sizing, 1);
      transition: math.div($transition-time, 2);
      fill: white;
    }

    &.discord:hover {
      background: #7289da;
    }

    &.twitter:hover {
      background: #1DA1F2;
    }
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}